<h1>Bands#show</h1>
<p>Hi, this is <%= @band.name %>. <br><br>
<%= link_to "Edit Band", edit_band_url %> <br>
<%= link_to "Destroy Band", band_url(@band), method: :delete %>  <br><br><br>
Below are our albums!
</p>
